1. MongoDB is a  NoSQL (Not Only SQL) database management system that provides a flexible,and document-oriented approach to storing and retrieving data. It stores data in JSON-like BSON (Binary JSON) documents. MongoDB is designed to handle large volumes of unstructured or semi-structured data.


Non-Relational Databases:
Non-relational databases, often referred to as NoSQL databases, differ from traditional relational databases in their data model and storage approach.They allow dynamic and flexible schema design.They are often designed to scale horizontally.These are optimized for specific use cases.


MongoDB is preferred over SQL when the application requires flexibility in data model.Since its designed for horizontal scalability, it is suitable for applications with growing datasets. MongoDB s document oriented structure helps in handling data with complex relationships.

2.  Some major features of MongoDB/ are as follows.

Document-Oriented

MongoDB stores data in Binary JSON documents, which are JSON-like, flexible, and schema-less data structures. Each document can have a different structure within the same collection.

Schema Flexibility:

MongoDB allows for dynamic and flexible schema design. Changes to the data model can be made on the fly, making it suitable for applications with evolving or undefined schemas.

Indexing

MongoDB supports the creation of indexes on fields to improve query performance. Indexes can be created on single fields, compound fields, arrays, and subdocuments.

Aggregation 

MongoDB provides a powerful aggregation framework that allows for the processing and transformation of data within the database. Aggregation pipelines can be used for grouping, filtering, and computing aggregate values.

Horizontal Scalability

MongoDB is designed to scale horizontally, enabling the distribution of data across multiple servers or nodes. This makes it suitable for handling large volumes of data and high read/write operations.

Security Features:

MongoDB includes security features such as authentication, authorization, and encryption. Access control can be enforced at both the database and collection levels.

#### 3 Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [67]:
import pymongo
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://deepaabraham:hello@cluster0.d6zuzni.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
client=pymongo.MongoClient("mongodb+srv://deepaabraham:hello@cluster0.d6zuzni.mongodb.net/?retryWrites=true&w=majority")
# creating databaase
db=client['deepadb']
#creating collection
collectionn=db["my_record"]

Pinged your deployment. You successfully connected to MongoDB!

##### 4. Using the database and the collection created in question number 3, write a code to insert one record,
##### and insert many records. Use the find() and find_one() methods to print the inserted record.

In [68]:
# inserting one record using insert_one
dat={"name":"deepa",
      "class":"ds",
      "timing":"flexible"
}
collectionn.insert_one(dat)
#inserting many records
many_dat=[{"name":"deepaa","roll":12},{"name":"merra","roll":123},{"name":"tina","roll":122},{"name":"dina","roll":102},{"name":"tiya","roll":100}]
collectionn.insert_many(many_dat)

InsertManyResult([ObjectId('6570261535e3d4f8ead8c9dc'), ObjectId('6570261535e3d4f8ead8c9dd'), ObjectId('6570261535e3d4f8ead8c9de'), ObjectId('6570261535e3d4f8ead8c9df'), ObjectId('6570261535e3d4f8ead8c9e0')], acknowledged=True)

In [69]:
# finding records
collectionn.find_one()

{'_id': ObjectId('6570261535e3d4f8ead8c9db'),
 'name': 'deepa',
 'class': 'ds',
 'timing': 'flexible'}

In [70]:
for i in collectionn.find():
    print(i)

{'_id': ObjectId('6570261535e3d4f8ead8c9db'), 'name': 'deepa', 'class': 'ds', 'timing': 'flexible'}
{'_id': ObjectId('6570261535e3d4f8ead8c9dc'), 'name': 'deepaa', 'roll': 12}
{'_id': ObjectId('6570261535e3d4f8ead8c9dd'), 'name': 'merra', 'roll': 123}
{'_id': ObjectId('6570261535e3d4f8ead8c9de'), 'name': 'tina', 'roll': 122}
{'_id': ObjectId('6570261535e3d4f8ead8c9df'), 'name': 'dina', 'roll': 102}
{'_id': ObjectId('6570261535e3d4f8ead8c9e0'), 'name': 'tiya', 'roll': 100}

#### 5 Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#### demonstrate this.

In MongoDB, the find method is used to query for documents in a collection. 
It allows to retrieve data from the database based on specified criteria. 

General syntax of find is:

cursor=collection.find(query,projection) 
where query parameter is an optional argument that specifies the conditions that the documents must meet.
The projection parameter is also optional and allows to specify which fields to include or exclude in the result.

In [71]:
# to find a singlr record
collectionn.find_one()

{'_id': ObjectId('6570261535e3d4f8ead8c9db'),
 'name': 'deepa',
 'class': 'ds',
 'timing': 'flexible'}

In [72]:
# to find multiple records 
for i in collectionn.find():
    print(i)

{'_id': ObjectId('6570261535e3d4f8ead8c9db'), 'name': 'deepa', 'class': 'ds', 'timing': 'flexible'}
{'_id': ObjectId('6570261535e3d4f8ead8c9dc'), 'name': 'deepaa', 'roll': 12}
{'_id': ObjectId('6570261535e3d4f8ead8c9dd'), 'name': 'merra', 'roll': 123}
{'_id': ObjectId('6570261535e3d4f8ead8c9de'), 'name': 'tina', 'roll': 122}
{'_id': ObjectId('6570261535e3d4f8ead8c9df'), 'name': 'dina', 'roll': 102}
{'_id': ObjectId('6570261535e3d4f8ead8c9e0'), 'name': 'tiya', 'roll': 100}

In [73]:
# to find records with query
#query = {"key": "value"}
#cursor = collection.find(query)
for i in collectionn.find({"name":"deepa"}):
    print(i)

{'_id': ObjectId('6570261535e3d4f8ead8c9db'), 'name': 'deepa', 'class': 'ds', 'timing': 'flexible'}

##### 6.Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the result set of a query in ascending or descending order based on one or more fields. 
This method takes a document as an argument, where each field specifies the sort order for the corresponding field in the result set. The syntax for sort method is as follows:

cursor = collection.find(query).sort(sort_key, sort_order)

In [99]:
# Example to sort the records in collection based on the mark field, descending
data = [
    {"name": "Alie", "mark": 25},
    {"name": "Babu", "mark": 30},
    {"name": "Charu", "mark": 22},
    {"name": "Davis", "mark": 28},
     {"name": "Chand", "mark": 22},
    {"name": "Daron", "mark": 28},
]

In [100]:
#creating collection (table)
coll1=db["new1"]
coll1.insert_many(data)

InsertManyResult([ObjectId('657028b335e3d4f8ead8c9f5'), ObjectId('657028b335e3d4f8ead8c9f6'), ObjectId('657028b335e3d4f8ead8c9f7'), ObjectId('657028b335e3d4f8ead8c9f8'), ObjectId('657028b335e3d4f8ead8c9f9'), ObjectId('657028b335e3d4f8ead8c9fa')], acknowledged=True)

In [101]:
query = {}  # Match all documents
sort_key = "mark"
sort_order = pymongo.DESCENDING

cursor = coll1.find(query).sort(sort_key, sort_order)
# Print the sorted result set
for document in cursor:
    print(document)

{'_id': ObjectId('657028b335e3d4f8ead8c9f6'), 'name': 'Babu', 'mark': 30}
{'_id': ObjectId('657028b335e3d4f8ead8c9f8'), 'name': 'Davis', 'mark': 28}
{'_id': ObjectId('657028b335e3d4f8ead8c9fa'), 'name': 'Daron', 'mark': 28}
{'_id': ObjectId('657028b335e3d4f8ead8c9f5'), 'name': 'Alie', 'mark': 25}
{'_id': ObjectId('657028b335e3d4f8ead8c9f7'), 'name': 'Charu', 'mark': 22}
{'_id': ObjectId('657028b335e3d4f8ead8c9f9'), 'name': 'Chand', 'mark': 22}

#### 7

delete_one() Method: Deletes a single document that matches a specified filter from a collection.

In [102]:
# deleting document with field name=Alie
result = coll1.delete_one({"name": "Alie"})

In [103]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('657028b335e3d4f8ead8c9f6'), 'name': 'Babu', 'mark': 30}
{'_id': ObjectId('657028b335e3d4f8ead8c9f7'), 'name': 'Charu', 'mark': 22}
{'_id': ObjectId('657028b335e3d4f8ead8c9f8'), 'name': 'Davis', 'mark': 28}
{'_id': ObjectId('657028b335e3d4f8ead8c9f9'), 'name': 'Chand', 'mark': 22}
{'_id': ObjectId('657028b335e3d4f8ead8c9fa'), 'name': 'Daron', 'mark': 28}

delete_many() Method:
 Deletes multiple documents that match a specified filter from a collection.

In [104]:
# deleting documents with mark =28
result = coll1.delete_many({"mark": 28})

In [105]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('657028b335e3d4f8ead8c9f6'), 'name': 'Babu', 'mark': 30}
{'_id': ObjectId('657028b335e3d4f8ead8c9f7'), 'name': 'Charu', 'mark': 22}
{'_id': ObjectId('657028b335e3d4f8ead8c9f9'), 'name': 'Chand', 'mark': 22}

drop() :
Drops (deletes) an entire collection from the database.