1. A database is a structured collection of data organized for efficient retrieval, storage, and management. They help to store, organize and access data.There are two types of databses 1)SQL (Structured Query Language Databases) and 2)NoSQL (Not Only SQL) databases.

SQL databases-Provide structured data. These databases are relational databses. They have a predefined schema, which describes structure of data, including datatypes and relationship between different tables. These are based on structured schema and uses tables to organize data. SQL databases are scaled vertically, the power of existing server can be increased by adding more CPU, RAM and storage.

Examples: MySQL,SQLite,Oracle, Microsoft SQL server

NoSQL databases-handle unstructured or semi structured data.They do not based on a fixed schema. NoSQL databases are often scaled horizontally, meaning that data is distributed across multiple servers to handle increasing loads.

Examples: MongoDB,  Cassandra.

2. DDL (Data Definition Language): DDL is a subset of SQL that deals with the definition and structure of the database objects.
Some common DDL statements are 1)CREATE,2)DROP,3)ALTER,4)TRUNCATE.

CREATE- used to create database objects like databases, tables, indexes and views.
Example:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary DECIMAL(10, 2)
);

DROP- is used to remove existing database objects, such as tables, indexes, or databases
Example:
DROP TABLE employees;

ALTER- is used to modify the structure of existing database objects, such as adding or deleting columns in a table.
Example:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

TRUNCATE- is used to remove all rows from a table, but it retains the structure of the table for future use.
Example:
TRUNCATE TABLE employees;

3. DML (Data Manipulation Language): DML deals with the manipulation of data stored in the database. It includes statements for inserting, updating, and deleting data in database tables.

INSERT- is used to add new rows of data into a table.

Example:
INSERT INTO employees (employee_id, first_name, last_name, salary)
VALUES (1, 'Meera', 'Moni', 50000);

The above statement inserts a new employee record to table employees.

UPDATE-is used to modify existing data in a table based on a specified condition.

Example:
UPDATE employees
SET salary = 55000
WHERE employee_id = 1;

The above command updates the salary of employee_id=1 as 55000 in employees table

DELETE-is used to remove rows from a table based on a specified condition.

Example:
DELETE FROM employees
WHERE employee_id = 1;

This example deletes the employee with an ID of 1 from the "employees" table.

4. DQL (Data Query Language): DQL deals specifically with the retrieval of data from a database. The primary statement in DQL is the SELECT statement, which is used to query the database and retrieve data from one or more tables.

Example 1-
SELECT employee_id, first_name, last_name
FROM employees
WHERE department = 'IT';

selects specific columns (employee_id, first_name, last_name) from the "employees" table

Example 2-
SELECT * FROM employees.

selects all records from the table employees.

5

Primary Key:

A primary key is a unique identifier for a record in a relational database table. It acts as a unique reference to each row in the table ensuring that each record can be uniquely identified.

The following are the characteristics of primary key:
1. Primary key must be unique across all rows in the table.
2. A primary key cannot be a null value
3.Primary key are automatically indexed.
4. The values of primary key should not be changed once they are assigned to a record

Example:


CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT
);

In this example, studentid is set as primary key for students table.

Foreign Key:
A foreign key establishes a link between two tables in a relational database. It represents a relationship between the data in the referencing (foreign key) table and the referenced (primary key) table. 
A foreign key in one table refers to the primary key in another table. It creates a link between the two tables.
Foreign keys can have NULL values.
A foreign key can consist of multiple columns forming a composite foreign key.

6.

In [ ]:
import mysql.connector  
# import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
#cursor object used to interact with  MySQL database
mycursor = mydb.cursor()
#execute is used to execute SQL queries or commands through the cursor object.
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

7. The order of execution of SQL clauses in SQL query are as follows:
    
    1. SELECT
    2. FROM
    3. JOIN
    4. WHERE
    5. GROUP BY
    6. HAVING
    7. ORDER BY
    8. LIMIT/OFFSET